@model string

@{
    ViewBag.Title = "ApiCallService";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ ViewBag.Title = "API Call Response"; }

<h2>API Call Response</h2>

<p style="word-wrap: break-word;">@Model</p>


